/* SECCION BANNER */

.banner-img {
  width: 100%;
  min-width: 1170px;
  height: 700px;
  background-blend-mode: lighten;
  background: url("../img/mdp_panoramica.jpg") no-repeat center;
  
}

.banner-texto {
  padding-top: 10%;
  padding-left: 20%;
}
.banner-texto h1 {
  color: #414141;
  font-size: 44px;
  line-height: 28px;
  margin-bottom: 30px;
}
.banner-texto h5 {
  color: #414141;
  letter-spacing: 1px;
  margin-bottom: 11px;
  font-size: 16px;
}
.banner-texto p {
  font-family: "Poppins", sans-serif;
  color: #6a6a6a;
  line-height: 18px;
  font-size: 16px;
}
