@import url("https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inspiration&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap");

/* SECCION GENERAL */
body {
  background-color: white;
  margin: 0;
}
p,
li,
input,
textarea {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #4f4f4f;
  margin: 0 0 1rem;
  text-transform: uppercase;
}
.activo {
  font-weight: bolder;
}
.txt-center {
  text-align: center;
}
.txt-izquierda {
  text-align: leftt;
}
.left60 {
  margin-left: 60px;
}
.mayuscula {
  text-transform: capitalize;
}
.ancho-pagina {
  width: 1170px;
  margin: 0 auto;
}
.fondo-oscuro {
  background-color: #f5f5f5;
  padding: 100px 0;
}
.fondo-claro {
  background-color: #ffffff;
  padding: 100px 0;
}
.subrayado-top {
  background: #bcbcbc none repeat scroll 0 0;
  margin: 0 auto;
  width: 45px;
  height: 2px;
}
.subrayado-bottom {
  background: #bcbcbc none repeat scroll 0 0;
  height: 1px;
  margin: 0 auto;
  margin-top: 3px;
  width: 80px;
}
.subrayado-izqbot {
  background: #bcbcbc none repeat scroll 0 0;
  height: 1px;
  margin: 3px 0px;
  width: 80px;
}
.subrayado-izqtop {
  background: #bcbcbc none repeat scroll 0 0;
  width: 45px;
  height: 2px;
}
.btn {
  background-color: #393939;
  border: 0 none;
  border-radius: 5px;
  font-size: 1rem;
  height: 2.5rem;
  line-height: 2.5rem;
  padding: 0 3rem;
  display: inline-block;
  margin-bottom: 0;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
.btn:hover {
  background-color: #f39c12;
}
a {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1;
  text-decoration: none;
  
}
