/* SECCION TOP */
.top {
  top: 0;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  background: #ffffff;
  z-index: 99;
  border-bottom: #f5f5f5 solid 1px;
}
.top-logo {
  width: 194px;
}
.top-menu {
  height: 51px;
}
.top-menu-lista {
  display: flex;
  height: 51px;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 0 10px 0 0;
}
.top-menu-lista-item {
  list-style: none;
  margin-left: 1.25rem;
}
.menu-lista-link {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-decoration: none;
  color: #4f4f4f;
  font-stretch: condensed;
}
.menu-lista-link:hover {
  text-decoration: underline;
  color: #f39c12;
}
